/* Colours 
.colours{
--color-scale-black: #010409;
--color-scale-white: #f0f6fc;
--color-scale-gray-0: #f0f6fc;
--color-scale-gray-1: #c9d1d9;
--color-scale-gray-2: #b1bac4;
--color-scale-gray-3: #8b949e;
--color-scale-gray-4: #6e7681;
--color-scale-gray-5: #484f58;
--color-scale-gray-6: #30363d;
--color-scale-gray-7: #21262d;
--color-scale-gray-8: #161b22;
--color-scale-gray-9: #0d1117;
}
*/

body {
    background-color: #30363d;
    color: #f0f6fc;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffd319;
}
h3{
    color: #c9d1c9;
}
h4{
    color: #b1bac4;
}
.profile{
    border: solid 10px #161b22;
    border-radius: 10px;
}
.projects{
    border: solid 5px #161b22;
    border-radius: 5px;
}

/* ICONS */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    background-color: 161b22;
    color: white;
}
.fa:hover{
    transition: 1s;
    color: grey;
}
